__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
data/
.dvc/
tb_logs/
1/
dvc.lock
inference_dir/
rps_model_*.pth
lightning_logs/
tb_logs/
mlruns/
mlartifacts/
outputs/
miflow.db
uv.lock
paper.jpg
test/
main.py
.vscode/
.idea/
.DS_Store
*.pth
*.ckpt
ml-runs/
tb_logs/
lightning_logs/
mlflow.db
checkpoints/
uv.lock
EOF
